<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*Set auto name for open page*@
    <title>@ViewData["Title"] - BookStore</title>

    @*general css*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    @*is for body of pages (important)*@
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="all-nav-panel">
        <ul class="nav-panel">
            <li>
                <a class="nav-a" asp-page="/Index">BookStore</a>
            </li>
            <li>
                <form class="search-form" action="/SearchResult" method="get">
                    <input class="input-search" type="search" name="search" placeholder="Любые ключевые слова..." />
                    <button class="btn-search" type="submit">🔍</button>
                </form>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="dropdown" style="float:right;">
                    <a class="drop-profile" class="nav-a" asp-page="#">@User.Identity.Name</a>

                    <div class="dropdown-content">
                        <a href="/Account/Favorite">Избранное</a>
                        <a href="/Account/MyBooks">Мои книги</a>
                        @if (User.IsInRole("admin") || User.IsInRole("creator"))
                        {
                            <a asp-page="/Admin/AddBook">Добавить книгу</a>
                        }
                        <a asp-page="/Account/Logout">Выйти</a>
                    </div>
                </li>
            }
            else
            {
                <li style="float:right">
                    <a asp-page="/Account/Register">Регистрация</a>
                </li>
                <li style="float:right">
                    <a asp-page="/Account/Login">Войти</a>
                </li>
            }
        </ul>
        <div class="title-page-div">
            @ViewData["Title"]
        </div>

    </div>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>