
h2 {
    font-size: 24px;
    margin: 0;
}

p.description-title {
    font-weight: bold;
}

div.title {
    align-items: center;
}

div.content {
    max-width: 1200px;
    margin: auto;
}

div.title-container {
    display: flex;
}

img {
    width: 440px;
    height: 600px;
    margin: 0 20px;
}

button {
    transition: all 0.6s ease;
}

button.buy-btn {
    background-color: #39c724;
    border-style: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 250px;
    height: 50px;
}

button.buy-btn:hover {
    background-color: darkgreen;
}

.fav-btn, .unfav-btn {
    color: blueviolet;
    background-color: pink;
    border: none;
    width: 50px;
    font-size: 30px;
    padding: 0;
    margin-left: 10px;
}

button.unfav-btn {
    border: 2px solid pink;
    background-color: white;
}

button.fav-btn:hover, button.unfav-btn:hover {
    background-color: #f18de6;
}

p {
    font-size: 20px;
    margin: 0 0 10px 0;
}

img.setting-img {
    width: 30px;
    height: 30px;
}

div.desription-container {
    margin-top: 10px;
    padding: 20px;
}

/*////////////////////////////////////////////      ★rating★      //////////////////////////////////////////////////////*/

.filler {
    position: absolute;
    width: 100%;
    background-color: #fcff00;
    z-index: -1;
    bottom: 0;
}

.rating-button {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    position: relative;
    display: inline-block;
}

.rating-button:hover {
    cursor: pointer;
}

div.rating-droppanel {
    display: none;
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

div.dropdown-rating {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.rating-number {
    font-size: 40px;
    color: orange;
}

.rating-count {
    font-size: 16px;
    margin-bottom: 10px;
}


.stars-container {
    margin-top: 12px;
    display: flex;
}

div.dropdown-rating:hover .rating-droppanel {
    display: block;
}

.rate-btn {
    border: none;
    padding: 0;
    margin: 0;
    color: orange;
}

svg[name='star'] {
    cursor: pointer;
}

.star {
    stroke-width: 1px;
    fill-rule: nonzero;
}

.not-taked-star {
    fill: white;
    stroke: gray;
}

.not-taked-star:hover, .taked-star {
    fill: orange;
    stroke: none;
}

/*////////////////////////////////////////////      ★genres★      //////////////////////////////////////////////////////*/


.genres {
    margin-bottom: 20px;
}

.genre {
    display: inline-flex;
    background-color: #333;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.4s ease;
}
.genre-ref {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}
.genre:hover {
    background-color: #222;
}
