@page
@model BookStore.Pages.Account.ProfilePageModel
@{
    ViewData["Title"] = "Профиль";
}


<div>
    <div class="vertical-nav">
        <button>Мои книги</button>
        <button>Избранное</button>
        <button>Мои рецензии</button>
        <button>Настройки</button>
    </div>
</div>