@page
@model BookStore.Pages.Account.LoginModel
@{
}

<div class="content">
    <h2>Вход в приложение</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label></label><br />
            <input/>
            <span asp-validation-for="model.Username"></span>
        </div>
        <div>
            <label></label><br />
            <input/>
            <span asp-validation-for="model.Password"></span>
        </div>
        <div>
            <label></label><br />
            <input/>
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
    </form>
</div>
