@page
@model BookStore.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="content">
    <h2>Вход в BookStore</h2>
    <form method="post">
        @if (ModelState.ErrorCount > 0)
        {
            <div class="exception">Неправильный логин и (или) пароль</div>
        }
        <div>
            <label>Имя пользователя</label><br />
            <input class="user-inp" name="username" value="@Model.model.Username" />
        </div>
        <div>
            <label>Пароль</label><br />
            <input class="user-inp" type="password" name="password" />
        </div>
        <div>
            <label>Запомнить?</label><br />
            <input class="rem-chk" type="checkbox" name="remember" value="true" />
        </div>
        <div>
            <button class="subm-btn" type="submit">Войти</button>
        </div>
    </form>
</div>
