@page
@model BookStore.Pages.Account.LoginModel
@{
}


<div>
    <form method="post">
        <div>
            <label>Username</label>
            <input asp-for="Credential.Name" />
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Credential.Password" />
        </div>
        <button type="submit">Login</button>
    </form>

</div>