@page
@model BookStore.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход?";
}

<div class="content">
    <p>Выйти из аккаунта?</p>
    <form method="post">
        <button class="accept-btn" name="IsLogout" value="True">Да</button>
        <button class="reject-btn" name="IsLogout" value="False">Нет</button>
    </form>

</div>