@page
@model BookStore.Pages.Account.LogoutModel
@{
}

<div>
    <p>Вы точно хотите выйти?</p>
    <form method="post">
        <button name="IsLogout" value="True">Да)))</button>
        <button name="IsLogout" value="False">Не(((</button>
    </form>

</div>