@page
@model BookStore.Pages.Account.RegisterModel
@{
}

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="model.Username"></label><br />
        <input asp-for="model.Username" />
        <span asp-validation-for="model.Username"></span>
    </div>
    <div>
        <label asp-for="model.Email"></label><br />
        <input asp-for="model.Email" />
        <span asp-validation-for="model.Email"></span>
    </div>
    <div>
        <label asp-for="model.Password"></label><br />
        <input asp-for="model.Password" />
        <span asp-validation-for="model.Password"></span>
    </div>
    <div>
        <label asp-for="model.PasswordConfirm"></label><br />
        <input asp-for="model.PasswordConfirm" />
        <span asp-validation-for="model.PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>