@page
@model BookStore.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="content">
    <h2>Регистрация</h2>
    <form method="post">
        @foreach (var error in ModelState.Values)
        {
            <div class="exception">@error.Errors[0].ErrorMessage</div>
        }
        <div>
            <label>Имя пользователя</label><br />
            <input class="user-inp" name="username" value="@Model.Username" />
        </div>
        <div>
            <label>Электронная почта</label><br />
            <input class="user-inp" name="email" value="@Model.Email" />
        </div>
        <div>
            <label>Пароль</label><br />
            <input class="user-inp" type="password" name="password" />
        </div>
        <div>
            <label>Подтвердить пароль</label><br />
            <input class="user-inp" type="password" name="passwordConfirm" />
        </div>
        <div>
            <button class="subm-btn" type="submit">Войти</button>
        </div>
    </form>
</div>