html {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border-radius: 6px;
}

/*search dropdown*/
/*#################################################*/
.dropbtn-search {
    border-radius: 0;
    transition: all 0.4s ease;
    background-color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn-search:hover{
    background-color: #111;
}

.search-container{
    display:flex;
}
.dropdown-search {
    position: relative;
    display: inline-block;
    width:100%;
}
.dropdown-content-search {
    padding: 8px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
    width: 300px;
    min-height: 100%;
    background-color: #333;
}

.show {
    display: block;
}

.search-form {
    width: 100%;
}

.input-search {
    overflow-wrap:break-word;
    overflow-block:hidden;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #111;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px;
    transition:all 0.4s ease;
}

.btn-search {
    transition: all 0.4s ease;
    border: none;
    background-color: #333;
    color: #8a8a8a;
    font-size: 30px;
    min-width: 100%;
    margin: auto;
}

.btn-search:hover{
    background-color:#111;
}

.input-genre {
    box-sizing: border-box;
    background-color: #1d1d1d;
    color: #b1b1b1;
    border: none;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

.div-genre {
    color: white;
    margin: 10px 0 10px 0;
}


.hidden{
    display:none !important;
}









.dropdown-content-search .selectBox {
    margin: 5px 0 5px 0;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #111;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px;
    position: relative;
    color: #b1b1b1;
}


.dropdown-content-search div.checkboxes {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #333;
    border: 2px solid #111;
    border-radius: 4px;
    height: 150px;
    overflow: auto;
}

.dropdown-content-search div.checkboxes label {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.dropdown-content-search div.checkboxes label:hover {
    background-color: #111;
}



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid #222;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e1e1e;
}

ul.nav-panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 56px;
    height: 56px;
    background-color: #333;
    box-shadow: 0 20px 20px -20px #333;
    border-radius: 8px;
}

div.title-page-div {
    padding: 10px;
    font-size: 20px;
    background-color: #222;
    margin: auto;
    margin-left: 20px;
    float: left;
    max-width: 1000px;
    color: white;
    box-shadow: 0 20px 20px -20px #333;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.all-nav-panel {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index:2;
    top: 0;
}

.nav-panel li {
    float: left;
    height: 100%;
}


.nav-panel li a, .dropdown-content a {
    height: 100%;
    font-size: 24px;
    color: white;
    transition: all 0.4s ease;
    text-decoration: none;
    text-align: right;
    padding: 12px 10px;
    box-sizing: border-box;
}

li a {
    display: inline-block;
}

/* Change the link color to #111 (black) on hover */
.nav-panel li a:hover, .dropdown:hover .drop-profile {
    background-color: #111;
}
/*dropdown menu*/
/*#################################################*/

.nav-panel li.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    background-color: #333;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*#################################################*/

.container {
    max-width: 1600px;
    margin: auto;
}

.username-header{
    display:flex;
}
.profile-mini-picture {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
