
.admin-nav-panel{
    background-color:#222;
    display:flex;
}
.admin-nav-panel button {
    font-size: 26px;
    padding: 10px;
    width:100%;
    background-color: #222;
    border: none;
    color: white;
    transition:all 0.4s ease;
    border-radius:0;
}
.admin-nav-panel button:hover {
    background-color: #111;
}
div.content {
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;
}

.text-danger{
    color:red;
}
/*////////////////////////////////////////////   Create book   ////////////////////////////////////////////*/
.book-search-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    border-color: black;
}

.book-search-input:focus {
    outline: none;
}

.book-container a {
    text-decoration: none;
    color: black;
    height:100%;
}
.book-container {
    margin: 20px 0;
    display: flex;  
    padding-bottom: 10px;
    border-bottom: 3px solid #343434bb;
}

.book-container img{
    width:220px;
    height:300px;
    box-shadow: 0 10px 20px gray;
    margin-right: 20px;
}

.book-container .book-title {
    font-size: 30px;
}

.book-container button{
    align-self:center;
    transition: all 0.4s ease;
    margin-right:0;
    margin-left:auto;
    color:red;
    border:2px solid red;
    padding:8px;
    font-size:20px;
}
.book-container button:hover{
    background-color:red;
    color:white;
}

.new-book-clicker{
    transition:all 0.4s ease;
    display:block;
    width:100%;
    padding:10px;
    font-size:30px;
}
.new-book-clicker:hover{
    background-color:#dcdcdc;
}

.new-book-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: none;
    box-sizing: border-box;
    border: 3px solid black;
}

.book-picture {
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid gray;
    width: 440px;
    height: 600px;
}

.handler {
    display: flex;
    width: 100%;
}

div.create-container {
    display: inline-grid;
}

.input-file {
    width:100%;
    box-sizing: border-box;
    height: 44px;
    cursor: pointer;
    border: 1px solid gray;
}

.create-book-btn {
    width: 100%;
    color: white;
    height: 50px;
    font-size: 22px;
    transition: all 0.6s ease;
    border: none;
    background-color: #64fb4d;
    padding: 0px 30px;
}

.create-book-btn:hover {
    background-color: #49c725;
}
.input-descr {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    height: 400px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.input-title {
    box-sizing: border-box;
    width: 100%;
}
.title-container {
    width: 100%;
}
.input-in-box {
    width: 100%;
    box-sizing: border-box;
}

input.data:not(.input-img) {
    padding-left: 10px;
    height: 40px;
}

.data-info {
    font-size: 12px;
    font-weight: bold;
}

.selectBox {
    margin: 5px 0 5px 0;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #808080;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px;
    position: relative;
    color: black;
}

div.checkboxes {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #111;
    border-radius: 4px;
    height: 150px;
    overflow: auto;
}

div.checkboxes label {
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    color:black;
    transition:all 0.4s ease;
}

div.checkboxes label:hover {
    background-color: #111;
    color: white;
}




/*////////////////////////////////////////////   Genres   ////////////////////////////////////////////*/


.genre-create-container{
    width:100%;
    display:flex;
    margin: 20px 0;
}
.genre-name-input{
    width:100%;
    font-size:20px;
    padding:8px;
    border-radius:10px 0 0 10px;
    border-color:black;
}

.genre-name-input:focus {
    outline: none;
}

.create-genre-btn {
    border-radius: 0 10px 10px 0;
    border-left:none;
    width:20%;
    font-size:30px;
}
.create-genre-btn:hover{
    background-color:#d8d8d8;
}

div.genre-container {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    transition: all 0.4s ease;
    text-decoration: none;
    color: white;
    margin: 5px;
}

button.genre {
    color: white;
    font-size: 20px;
    background-color: #333;
    border: none;
    height: 100%;
    width: 50px;
    transition: all 0.4s ease;
}
button.genre:hover {
    background-color: #222;
}
button.create-genre {
    font-size: 40px;
}

label.genre-name {
    display:inline-block;
    padding: 8px 20px;
}


/*////////////////////////////////////////////   Authors   ////////////////////////////////////////////*/

.author-name-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    border-color: black;
}

.author-name-input:focus{
    outline:none;
}

.author-container a{
    text-decoration: none;
    color: black;
}
.author-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid #343434bb;
}

.author-container img{
    object-fit: cover;
    height:100px;
    width:100px;
    border-radius:30px;
    box-shadow: 0 0 30px #00f7ff;
}

.author-container .author-name{
    margin-left: 20px;
    font-size: 30px;
}

.author-container button{
    transition: all 0.4s ease;
    margin-right:0;
    margin-left:auto;
    color:red;
    border:2px solid red;
    padding:8px;
    font-size:20px;
}
.author-container button:hover{
    background-color:red;
    color:white;
}

.new-author-clicker{
    transition:all 0.4s ease;
    display:block;
    width:100%;
    padding:10px;
    font-size:30px;
}
.new-author-clicker:hover{
    background-color:#dcdcdc;
}

.new-author-container {
    display: none;
    position: fixed;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: white;
}

.new-author-container-title{
    display:flex;
}

.new-author-container-title span{
    font-size:40px;
    font-weight:bold;
}

.close-author-create-container {
    margin-left: auto;
    margin-right: 0;
    border: none;
    font-size: 40px;
    padding: 8px;
    background: none;
}

.new-author-title{
    display:flex;
}

.author-picture {
    object-fit: cover;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

[name="author-description"] {
    margin-top: 20px;
    display: block;
    font-size:20px;
    width: 100%;
    height: 400px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

[name="author-name"] {
    font-size:30px;
    padding:8px;
    height:100%;
    margin-left:20px;
}

.add-author{
    background-color: #00ff0d;
    color:white;
    display:block;
    width:100%;
    padding:10px;
    margin-top:10px;
    font-size:20px;
    border:none;
}