.content {
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;
}
.author-title{
    display:flex;
}
.author-title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.author-title span {
    font-size:40px;
    padding-left:10px;
}
.author-nav-panel {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #565656be;
    margin-top: 8px;
}
.author-nav-panel li{
    transition: all 0.4s ease;
    border-bottom:3px solid #00000000;
}
.selected {
    border-bottom-color: black !important;
    background-color: #dedede !important;
}
.author-nav-panel li:hover {
    border-bottom-color: black;
    background-color: #d5d5d59e;
}
.author-nav-panel li a {
    cursor:pointer;
    font-size: 20px;
    padding: 10px;
}

/*//////////////////////////////////////////////// Books //////////////////////////////////////////////////////*/
.popular-container {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    margin-bottom: 20px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0px 40px rgb(1,1,1,0.5);
}
.filter-books .book-container {
    display: flex;
    margin-right: 20px;
}
.book-title {
    transition: all 0.4s ease;
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-title:hover{
    color:#000000bb;
}
img.book-preview {
    transition: all 0.4s ease;
    margin-right:20px;
    width: 220px;
    height: 300px;
    box-shadow: 0 8px 20px rgb(1,1,1,0.5);
}
.book-preview:hover {
    opacity: 0.9;
}
.book-rating{
    display:flex;
}

.author-books-filter-panel {
    height: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}
.author-books-filter-panel button{
    transition: all 0.4s ease;
    height:100%;
    padding:10px;
    font-size:20px;
    border-radius:0;
    border:none;
    border-bottom:3px solid #00000000;
}
.book-description{
    margin-top:20px;
}

/*//////////////////////////////////////////////// Description //////////////////////////////////////////////////////*/









/*//////////////////////////////////////////////// Reviews //////////////////////////////////////////////////////*/