
.nav-ul p {
    font-size: 40px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

p {
    font-family: 'Segoe UI Emoji';
}

.nav-main-hr {
    margin: -50px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 85%;
}

nav {
    max-width: 80%;
    margin: 0 auto;
}

.search-form{
    display:flex;
}

input[type="search"] {
    padding: 10px;
    font-size: 20px;
    height: 40px;
    width: 450px;
    border: 1px solid gray;
}

.btn-search {
    height: 40px;
    width: 40px;
    font-size: 20px;
}

li {
    padding: 0 0.5em;
    font-size: 32px;
}

main {
    max-width: 1000px;
    margin: 40px auto 10px;
}

a.nav-a {
    font-family:'Segoe UI';
    text-decoration: None;
    color: black;
}

p.ballance{
    font-size:18px;
}