
h2[b-yajd1ps8dt] {
    font-size: 24px;
    margin: 0;
}

p.description-title[b-yajd1ps8dt] {
    font-weight: bold;
}

div.title[b-yajd1ps8dt] {
    align-items: center;
}

div.content[b-yajd1ps8dt] {
    max-width: 1200px;
    margin: auto;
}

div.title-container[b-yajd1ps8dt] {
    display: flex;
}

img[b-yajd1ps8dt] {
    width: 440px;
    height: 600px;
    margin: 0 20px;
}

button[b-yajd1ps8dt] {
    transition: all 0.6s ease;
}

button.buy-btn[b-yajd1ps8dt] {
    background-color: #39c724;
    border-style: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 250px;
    height: 50px;
}

button.buy-btn:hover[b-yajd1ps8dt] {
    background-color: darkgreen;
}

.fav-btn[b-yajd1ps8dt], .unfav-btn[b-yajd1ps8dt] {
    color: blueviolet;
    background-color: pink;
    border: none;
    width: 50px;
    font-size: 30px;
    padding: 0;
    margin-left: 10px;
}

button.unfav-btn[b-yajd1ps8dt] {
    border: 2px solid pink;
    background-color: white;
}

button.fav-btn:hover[b-yajd1ps8dt], button.unfav-btn:hover[b-yajd1ps8dt] {
    background-color: #f18de6;
}

p[b-yajd1ps8dt] {
    font-size: 20px;
    margin: 0 0 10px 0;
}

img.setting-img[b-yajd1ps8dt] {
    width: 30px;
    height: 30px;
}

div.desription-container[b-yajd1ps8dt] {
    margin-top: 10px;
    padding: 20px;
}

/*////////////////////////////////////////////      ★rating★      //////////////////////////////////////////////////////*/

.filler[b-yajd1ps8dt] {
    position: absolute;
    width: 100%;
    background-color: #fcff00;
    z-index: -1;
    bottom: 0;
}

.rating-button[b-yajd1ps8dt] {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    position: relative;
    display: inline-block;
}

.rating-button:hover[b-yajd1ps8dt] {
    cursor: pointer;
}

div.rating-droppanel[b-yajd1ps8dt] {
    display: none;
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

div.dropdown-rating[b-yajd1ps8dt] {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.star-1[b-yajd1ps8dt] {
    border: 2px solid orange;
}

.rating-number[b-yajd1ps8dt] {
    font-size: 40px;
    color: orange;
}

.rating-count[b-yajd1ps8dt] {
    font-size: 16px;
    margin-bottom: 10px;
}


.stars-container[b-yajd1ps8dt] {
    margin-top: 12px;
    display: flex;
}

div.dropdown-rating:hover .rating-droppanel[b-yajd1ps8dt] {
    display: block;
}

.rate-btn[b-yajd1ps8dt] {
    border: none;
    padding: 0;
    margin: 0;
    color: orange;
}

.star[b-yajd1ps8dt] {
    cursor: pointer;
    stroke-width: 1px;
    fill-rule: nonzero;
}

.taked-star:hover[b-yajd1ps8dt], .not-taked-star[b-yajd1ps8dt] {
    fill: white;
    stroke: gray;
}

.not-taked-star:hover[b-yajd1ps8dt], .taked-star[b-yajd1ps8dt] {
    fill: orange;
    stroke: none;
}

.rate-btn[b-yajd1ps8dt]{
    padding:0;
}

/*////////////////////////////////////////////      ★genres★      //////////////////////////////////////////////////////*/


.genres[b-yajd1ps8dt] {
    margin-bottom: 20px;
}

.genre[b-yajd1ps8dt] {
    display: inline-flex;
    background-color: #333;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.4s ease;
}
.genre-ref[b-yajd1ps8dt] {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}
.genre:hover[b-yajd1ps8dt] {
    background-color: #222;
}
