
.books-container[b-ipq4tb4ebs] {
    display: block;
}

.book-container[b-ipq4tb4ebs] {
    position: relative;
    display: inline-block;
    width: 218px;
    height: 300px;
}

img[b-ipq4tb4ebs] {
    width: 220px;
    height: 300px;
}

.hover-book[b-ipq4tb4ebs] {
    transition: opacity 0.6s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25%;
    background: black;
    padding: 10px;
    opacity: 0;
}

a.dwn-btn[b-ipq4tb4ebs] {
    color: #25cc24;
    border: 2px solid #25cc24;
    padding: 5px;
    float: right;
}
a.dwn-btn:hover[b-ipq4tb4ebs] {
    background: #25cc24;
    color: white;
}
a[b-ipq4tb4ebs]{
    text-decoration:none;
}

a.title[b-ipq4tb4ebs] {
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.title:hover[b-ipq4tb4ebs] {
    color:darkgray;
}
a.buy-btn[b-ipq4tb4ebs] {
    color:orange;
    border:2px solid orange;
    padding:5px;
    float:right;
}
a.buy-btn:hover[b-ipq4tb4ebs]{
    background:orange;
    color:white;
}
.writer[b-ipq4tb4ebs], a[b-ipq4tb4ebs] {
    color: white;
}

.book-container:hover .hover-book[b-ipq4tb4ebs] {
    opacity: 0.8;
}