@page
@model BookStore.Pages.Creator.EditRolesModel
@{
    ViewData["Title"] = "Пользователи";
}

<div class="content">
    <input class="input-user-search"/>
    <div id="usersContainer"></div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Admin/EditRolesStyles.css"/>
}

@section Scripts{
    <script>

        $(document).on("click", 'button[name="switch-admin-role"]', (e) => {
            $.ajax({
                url: "/Creator/EditRoles?handler=SwitchAdminRole&id=" + $(e.currentTarget).parent().find("input[name='id']").val(),
                type: "POST",
                beforeSend: (xhr) => {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: (res) => {
                    var container = $(e.currentTarget).parent().parent();
                    var btn = $(e.currentTarget);

                    btn.removeClass("admin-btn");
                    btn.removeClass("nonadmin-btn");

                    if (res) {
                        btn.addClass("admin-btn")
                        container.addClass("admin-container");
                    }
                    else {
                        btn.addClass("nonadmin-btn")
                        container.removeClass("admin-container");
                    }
                },
                error: () => {
                    $("#msg").html("Error while making Ajax call!");
                }
            });
        });

        $(document).on("click", ".delete-user", (e) => {
            $.ajax({
                type: "DELETE",
                url: "/Creator/EditRoles?handler=User&id=" + $(e.currentTarget).parent().find("input[name='id']").val(),
                beforeSend: (xhr) => {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: () => {
                    $(e.currentTarget).parent().parent().remove();
                },
                error: () => {
                    $("#msg").html("Error while making Ajax call!");
                }
            });
        });

        $(document).ready(() => {
            FindUsers("");
        });

        $(document).on("input", ".input-user-search", (e) => {
            FindUsers(e.currentTarget.value);
        });

        function FindUsers(req) {
            $.ajax({
                url: "/Creator/EditRoles?handler=FindUsers&req=" + req,
                type: "POST",
                beforeSend: (xhr) => {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: (view) => {
                    document.getElementById("usersContainer").innerHTML = view;
                },
                error: () => {
                    $("#msg").html("Error while making Ajax call!");
                }
            });
        }
    </script>
}