
div.content{
    max-width:1000px;
    margin:auto;
    font-size:20px;
}

input.input-user-search {
    height: 40px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left:10px;
    width:100%;
}

div.email-div{
    margin-left:auto;
    padding:0 10px;
}

div.user-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
.interact-form {
    margin-left:auto;
    margin-right:0;
}
div.admin-name {
    font-weight: bold;
    color: #ffac00;
    float:left;
}

button {
    transition: all 0.5s ease;
    width: 100px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
}

button.admin-btn {
    background-color: #ffac00;
    color: white;
    border-color: #ffac00;
}
button.nonadmin-btn {
    color: #ffac00;
    border-color: #ffac00;
}

button.nonadmin-btn:hover {
    color: white;
    background-color: #ffc346;
}
button.admin-btn:hover {
    color: #ffb61e;
    background-color:#ffe6b2;
}

button.deleteUser-btn{
    color:red;
    border-color:red;
}
button.deleteUser-btn:hover{
    color:white;
    background-color:red;
}

