@page
@model BookStore.Pages.BookPageModel
@{
}

<div class="content">
    <img src=@Model.TakedBook.Source alt="Картинка не найдена"/>
    <div>
        <h2 class="title">@(Model.TakedBook.Title ?? "Без названия")</h2>
        <p class="writer">Автор: @(Model.TakedBook.Writer ?? "Неизвестен")</p>
        <br />
        <p class="description-title">Описание книги</p>
        <p class="description">@(Model.TakedBook.Description ?? "-")</p>
        <form>
            <button class="buy-btn" type="button" name="buy-btn">КУПИТЬ ЗА @Model.TakedBook.Price</button>
        </form>
    </div>
</div>