@page
@model BookStore.Pages.BookPageModel
@{
}

<div class="content">
    <img src="/images/BookPreview.png" />
    <div>
        <h2 class="title">Пися попа 2</h2>
        <p class="writer">Автор: Lither Adolf</p>
        <br />
        <p class="description-title">Описание книги</p>
        <p class="description">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        <form>
            <button class="buy-btn" type="button" name="buy-btn">КУПИТЬ ЗА 1000$</button>
        </form>
    </div>
</div>