@page
@model BookStore.Pages.BookPageModel
@{
}

<h2 class="title">Pisya Popa 2</h2>
<div class="content">
    <img src="/images/BookPreview.png" />
    <div>
        <h3 class="Writer">Piskina Ekaterina</h3>
        <p class="description">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
</div>