@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<div class="all-books-container">
    <ul class="books-container">
        @foreach (var book in Model.Books)
        {
            string BookHref = $"/BookPage?id={book.Id}";
            <li class="book-container">
                <a href=@BookHref><img class="book-preview" src=@book.SourceImage /></a>
                <div class="hover-book">
                    <div class="hover-title">
                        <a href=@BookHref class="title">@book.Title</a>
                        <div class="writer">@book.Writer</div>
                    </div>
                    @if (Admin.Admin.GetUser(User).AvailableBooks.Any(uBook => book.Id == uBook.Id))
                    {
                        <a class="dwn-btn" href=@book.SourceFile>Скачать</a>
                    }
                    else{
                        <a class="buy-btn" href=@BookHref>Купить</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>

