@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}







@*<h1>kakshki</h1>
<p>@this.Request.Path</p>
@for (var i = 0; i < 100; i++)
{
    <p>Line #: @i</p>
}

<img src="~/images/BookPreview.png"/>
*@