@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}







<p>
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
</p>



<p>
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
</p>



<p>
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
    LineLineLineLineLineLineLineLineLineLineLineLineLine
</p>