
div.result-panel {
    display: flex;
}

ul.results-panel {
    list-style-type: none;
}

li{
    padding-bottom: 20px;
}

a.title {
    padding-bottom:2px;
    font-size: 30px;
}

p{
    margin: 10px 0 0 0;

}

img {   
    width: 145px;
    height: 200px;
}

p.bad-result{
    font-size: 24px;
}