
div.admin-nav[b-t189ebkpzk] {
    background-color: #222;
    border-radius: 0 0 8px 8px;
    height: 60px;
    margin-bottom: 60px;
    display: flex;
}


button.admin-button[b-t189ebkpzk] {
    border:none;
    background-color: #222;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0 40px;
}
button.admin-button:hover[b-t189ebkpzk] {
    background-color: #111;
    border-radius: 0 0 8px 8px;
}


/*////////////////////////////////////////////   Crete book   ////////////////////////////////////////////*/

div.content[b-t189ebkpzk] {
    max-width: 1000px;
    margin: auto;
}

.handler[b-t189ebkpzk] {
    display:flex;
}

.input-img[b-t189ebkpzk] {
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid gray;
    width: 440px;
    height: 600px;
}

div.create-container[b-t189ebkpzk]{
    display: inline-grid;
}

.input-file[b-t189ebkpzk] {
    box-sizing: border-box;
    height: 44px;
    cursor: pointer;
    border: 1px solid gray;
}

.input-submit[b-t189ebkpzk] {
    color: white;
    height: 50px;
    font-size: 22px;
    transition: all 0.6s ease;
    border: none;
}

.create-btn[b-t189ebkpzk] {
    background-color: #64fb4d;
    padding: 0px 30px;
}
.create-btn:hover[b-t189ebkpzk] {
    background-color: #49c725;
}
.input-descr[b-t189ebkpzk] {
    margin-top:20px;
    box-sizing:border-box;
    height:400px;
    resize:none;
    padding: 10px;
    font-size: 16px;
}

.input-title[b-t189ebkpzk] {
    width: 300px;
}

input.data:not(.input-img)[b-t189ebkpzk]  {
    padding-left: 10px;
    height: 40px;
}