
.books-container[b-ogvrq2ren1] {
    display: block;
}

.book-container[b-ogvrq2ren1] {
    position: relative;
    display: inline-block;
    width: 218px;
    height: 300px;
}
a.dwn-btn[b-ogvrq2ren1] {
    color: #25cc24;
    border: 2px solid #25cc24;
    padding: 5px;
    float: right;
}

a.dwn-btn:hover[b-ogvrq2ren1] {
    background: #25cc24;
    color: white;
}
img[b-ogvrq2ren1] {
    width: 220px;
    height: 300px;
}

.hover-book[b-ogvrq2ren1] {
    transition: opacity 0.6s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25%;
    background: black;
    padding: 10px;
    opacity: 0;
}

a[b-ogvrq2ren1] {
    text-decoration: none;
}

a.title[b-ogvrq2ren1] {
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.title:hover[b-ogvrq2ren1] {
    color: darkgray;
}

a.buy-btn[b-ogvrq2ren1] {
    color: orange;
    border: 2px solid orange;
    padding: 5px;
    float: right;
}

a.buy-btn:hover[b-ogvrq2ren1] {
    background: orange;
    color: white;
}

.writer[b-ogvrq2ren1], a[b-ogvrq2ren1] {
    color: white;
}

.book-container:hover .hover-book[b-ogvrq2ren1] {
    opacity: 0.8;
}