
div.content[b-6zlo3m77xp]{
    max-width:280px;
    margin:auto;
    border:2px solid gray;
    padding-bottom:30px;
    padding-left:40px;
    border-radius:10px;
}

input.user-inp[b-6zlo3m77xp] {
    margin-bottom:10px;
    height: 32px;
    padding-left:12px;
    font-size:18px;
}

div.exception[b-6zlo3m77xp] {
    color: red;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
}

button.subm-btn[b-6zlo3m77xp]{
    margin-top:10px;
    width:100px;
    font-size:20px;
    transition:all 0.4s ease;
}
button.subm-btn:hover[b-6zlo3m77xp] {
    background-color: black;
    color: white;
}
