
div.content[b-0ljbrzjeew] {
    font-size: 36px;
    max-width: 500px;
    margin: auto;
    text-align:center;
    border:2px solid gray;
    border-radius:10px;
    padding-bottom:30px;
}

button.accept-btn[b-0ljbrzjeew] {
    color: #831818;
    border-color: #831818;
}

button.reject-btn[b-0ljbrzjeew] {
    color: #177e16;
    border-color: #177e16;
}

button.reject-btn:hover[b-0ljbrzjeew] {
    background-color: #177e16;
    color: white;
}


button.accept-btn:hover[b-0ljbrzjeew] {
    background-color: #831818;
    color:white;
}

button[b-0ljbrzjeew] {
    font-size: 36px;
    width: 200px;
    transition:all 0.8s ease;
}