@model AdminPageModel
@{
    var req = ViewData["req"]?.ToString() ?? "";
    var genres = Model._serviceGenre.GetAll().Where(genre => genre.Value.ToUpper().Contains(req.ToUpper())).ToList();
}
@foreach (var genre in genres)
{
    <div class="genre-container">
        <label class="genre-name">
            @genre.Value
        </label>
        <button type="button" class="remove-genre genre" name="delete" value="@genre.Value">╳</button>
    </div>
}