@page
@model BookStore.Pages.Creator.EditRolesModel
@{
    ViewData["Title"] = "Пользователи";
}

<div class="content">
    <form method="post">
        <input class="input-user-search" type="search" name="searchReq" value=@Model.SearchReq />
    </form>
    @foreach (var user in Model.Users)
    {
        <div class="user-container">

            <div class=@((user.userRoles.Contains("admin") ? "admin" : "user") + "-name")>@user.currentUser.UserName</div>
            <div class="email-div">@user.currentUser.Email</div>
            <div class="interact-form">
                <form method="post">
                    <input name="id" value=@user.currentUser.Id hidden />
                    @if (user.userRoles.Contains("admin"))
                    {
                        <button type="submit" class="admin-btn" name="interactBtn" value="remAdmin">Admin</button>
                    }
                    else
                    {
                        <button type="submit" class="nonadmin-btn" name="interactBtn" value="setAdmin">Admin</button>
                    }
                    <button type="submit" class="deleteUser-btn" name="interactBtn" value="delUser">Delete</button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>
